<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Burger Biz!</title>
	<script src="https://kit.fontawesome.com/4e035445ec.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>

<body class="orange lighten-2">
	<div class="container">
		<div >
		</div>
		
		{{{ body }}}

		<footer>
			<h6 class="center-align"><span class="grey-text text-lighten-4">*Freshness & quality of Burger Biz Burgers
					not guaranteed. Devour at your own risk.</span></h6>
		</footer>
	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/assets/script.js"></script>
</body>

</html>